/*탑 네비게이션*/

.topBar {
	background-color: #e9db89;
	height: 70px;
}
.centerImg {
	margin-left: 20px;
	width: 150px; 
	height: 70px;
}
.topBar a {
	float: right;
	color: #666;
	text-align: center;
	margin-top: 28px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100px;
	text-decoration: none;
	font-size: 15px;
}
.topBar a:hover {
	background-color: #ebe3be;
}
.topBar a.active {
	background-color: #ddd;
}

@media only screen and (max-width: 600px) {
	.centerImg {
		margin-left: 0;
		width: 150px; 
		height: 70px;
	}
	.topBar a {
		width: 70px;
	}
}

